.idea
.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
packages/*/.vscode/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
node_modules

.DS_Store
.env
.nvmrc
*.aes
*.log
globalConfig.json
